# build files image
AMAZON_CORRETO_BUILD=./buildfiles/amazoncorreto/alpine
NGINX_BUILD=./buildfiles/nginx/alpine
PHP_BUILD=./buildfiles/php
PHP83_BUILD=./buildfiles/php83
GO_BUILD=./buildfiles/go
NODEJS_BUILD=./buildfiles/nodejs
NODEJS_PRODLIKE_BUILD=./buildfiles/nodejs-prodlike
LITESPEED_BUILD=./buildfiles/litespeed
MARIADB10_MASTER_BUILD=./buildfiles/mariadb10-master
MARIADB10_SLAVE_BUILD=./buildfiles/mariadb10-slave
EXPO_BUILD=./buildfiles/expo

# Config
MYSQL_CONFIG_ROOT=./config/mysql
NGINX_CONFIG_ROOT=./config/nginx
PHP_FPM_CONFIG_ROOT=./config/php
APPLICATION_DIR=/srv/www/PHP
MARIADB10_CONFIG_ROOT=./config/mysql
SSH_KEYS=./config/sshkey
LITESPEED_CONFIG_ROOT=./config/litespeed
MARIADB10_MASTER_CONFIG_ROOT=./config/mariadb10-master
MARIADB10_SLAVE_CONFIG_ROOT=./config/mariadb10-slave
# CODEX_CONFIG_ROOT=C:/Users/andik/.codex
CODEX_CONFIG_ROOT=./config/codex
CLAUDE_CODE_CONFIG_ROOT=C:/Users/andik/.claude
CLAUDE_CODE_CONFIG_JSON=C:/Users/andik/.claude.json
LANGGRAPH_GH_PAT=github_pat_xxxxxxxxxxxxxxxxxxxxx
#Data
MYSQL_DATABASE_PATH=/srv/www/Docker/Data/mysql
MYSQL8_DATABASE_PATH=/srv/www/Docker/Data/mysql8
MARIADB10_DATABASE_PATH=/srv/www/Docker/Data/mysql10

#credential
GH_EMAIL=andik.aryantoo@email.com
GH_USERNAME=Andik
