version: '3'
services:
    nginx:
        container_name: docker-nginx
        build: ${NGINX_BUILD}
        volumes:
            - ${NGINX_CONFIG_ROOT}/etc/nginx/nginx.conf:/etc/nginx/nginx.conf
            - ${NGINX_CONFIG_ROOT}/etc/nginx/conf.d:/etc/nginx/conf.d
            - ${NGINX_CONFIG_ROOT}/etc/nginx/sites-available:/etc/nginx/sites-enabled
            - ${SSH_KEYS}:/root/.ssh:ro 
            - php:/var/www/
        ports:
            - "9090:80"
        restart: always
        depends_on:
            - php 
        networks:
            nginx_mysql_php_network:
                ipv4_address: 172.16.0.2
    php:
        container_name: docker-php
        build: ${PHP_BUILD}
        restart: always
        volumes:
            - php:/var/www/     
            - ${PHP_FPM_CONFIG_ROOT}/usr/local/etc/php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf
            - ${SSH_KEYS}:/root/.ssh
        networks:
            nginx_mysql_php_network:
                ipv4_address: 172.16.0.3
    mysql:
        container_name: docker-mysql
        image: mysql:5.7
        environment:
            MYSQL_ROOT_PASSWORD: root
        restart: always
        volumes:
            - ${MYSQL_DATABASE_PATH}:/var/lib/mysql
        ports:
            - "3366:3306"
        networks:
            nginx_mysql_php_network:
                ipv4_address: 172.16.0.4
    mysql8:
        container_name: docker-mysql8
        image: mysql:8.0
        environment:
            MYSQL_ROOT_PASSWORD: root
        restart: always
        volumes:
            - ${MYSQL8_DATABASE_PATH}:/var/lib/mysql
        ports:
            - "3367:3306"
        networks:
            nginx_mysql_php_network:
                ipv4_address: 172.16.0.5
    mariadb10:
        image: mariadb:10.11.9
        container_name: docker-mariadb10
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: root
        ports:
            - "3466:3306"
        volumes:
            - mariadb10_databases:/var/lib/mysql
        
        networks:
            nginx_mysql_php_network:
                ipv4_address: 172.16.0.6
    go:
        container_name: docker-go
        build: ${GO_BUILD}
        restart: always
        ports:
            - "9091:8080"
        volumes:
            - go:/app
            - ${SSH_KEYS}:/root/.ssh
        networks:
            nginx_mysql_php_network:
                ipv4_address: 172.16.0.7
    nodejs:
        container_name: docker-nodejs
        build: ${NODEJS_BUILD}
        restart: always
        volumes:
            - node:/projects
            - ${SSH_KEYS}:/root/.ssh
        ports:
            - "3000-3010:3000-3010" # Optional, expose ports for projects
        stdin_open: true
        tty: true
        networks:
            nginx_mysql_php_network:
                ipv4_address: 172.16.0.8
    postgres17:
        image: postgres:17.4
        container_name: docker-postgres17
        restart: always
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD : root
        ports:
            - "5432:5432"
        volumes:
            - postgres17_databases:/var/lib/postgresql/data        
        networks:
            nginx_mysql_php_network:
                ipv4_address: 172.16.0.9

volumes:
    node:
    php:
    mariadb10_databases:
    postgres17_databases:
    go:

networks:
  nginx_mysql_php_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.0.0/24